@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = " Developer";
    Layout = "_Layout2";
}
<style>
    .jumbotron {
        height: 100%;
        margin-bottom: 60px;
        margin-top: -15px;
        background-image: url(../image/background.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
</style>
<link rel="stylesheet" href="~/css/Developer.css" />
<div>
    <div class="text-center">
        <img src="~/image/blockchain.jpg" title="blockchain" alt="blockchain"  style="min-width:300px; min-height:140px; width:100%; height:100%;max-width:700px;" />
        <h2 class="display-4">Developer</h2>
        <div class="developerimg">
            <img src="~/image/yamaarashi.jpg" title="Developer" alt="Developerimg" width=" 250" height="250" style="border-radius:50%" />
        </div>
        <div class="text-center">
            <p class="h6" style="color:transparent">&nbsp;</p>
            <p class="h5 container" style="max-width:  600px; word-break: break-all; background-color:transparent; text-align:left">
                こんにちは！チャチャコイン開発者の <a href="https://twitter.com/yanchal_crypto" style="text-decoration:underline">
                    @@Yanchal_Crypto(twitter)
                </a>です。今回は2017年より仮想通貨（ブロックチェーン技術）を独学で勉強している経験を生かしてC#ベースのブロックチェーン-miyabi-
                にアプリケーション（トークン）としてチャチャコイン を実装しました!ブロックチェーンは今後の日本のIT化に必要な技術であると思っています！
                まずはチャチャでブロックチェーンという技術を体験していただければ嬉しいです！体験した皆様からこういうのはできないですか?とか問い合わせやアドバイスお待ちしてます！<br>
            </p>
        </div>
        <div class="twbtn">
            <a href="https://twitter.com/yanchal_crypto?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-lang="ja" data-show-count="false">Follow  @@yanchal_crypto</a>
            <a href="https://twitter.com/messages/compose?recipient_id=956735801949237248&ref_src=twsrc%5Etfw" class="twitter-dm-button" data-size="large" data-screen-name="@@yanchal_crypto" data-show-count="false">Message@@yanchal_crypto</a>
        </div>
    </div>

</div>

