@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}
<style>
    .jumbotron {
        height: 100%;
        width: 100%;
        margin: -15px 0px 60px 0px;
        background-image: url(../image/background.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    header img {
        display: none;
    }

    h2.display-3 {
        color: white;
        font-size: 2.5rem;
        font-weight: bold;
    }

    h2.display-4 {
        color: white;
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
    }

    p.h1 {
        font-size: 2.0rem;
    }

    .jumbotron {
        padding: 1.5rem 0rem;
    }

        .jumbotron .container-fluid {
            padding: 0px;
        }

    .ChaCha {
        border-top: 2px solid skyblue;
        border-bottom: 2px solid skyblue;
        background-color: black;
        padding: 2.0rem;
    }

    p.h1 {
        color: white;
        margin: 0px;
    }

    .ChaCha img {
        height: 150px;
        width: 150px;
    }
</style>
<link rel="stylesheet" href="~/css/homepage.css" />
<!--Under Page layout-->

<div class="text-center">
    <h2 class="display-3">Welcome  ChaChaCoin</h2>
    <h2 class="display-4">-Miyabi BrockChain-</h2>
    <div class="ChaCha ">
        <img src="~/image/ChaChaLogo.jpg" title="ChaChalogo" alt="ChaChalogo" width=" 250" height="250" />
    </div>
    <div class="text-center">
        <p class="h1" style="color:transparent">&nbsp;</p>
        <p class="h1">Innovation&nbsp;In&nbsp;Entertainment</p>
        <p class="h1">With&nbsp;BlockChain</p>
        <p class="h6" style="color:transparent">&nbsp;</p>
        <p class="h5 container" style="max-width: 550px; word-break: break-all; background-color:transparent; text-align:left">
            世界最速のトランザクションスピード(4000件/秒)を持つブロックチェーン&nbsp;-miyabi-&nbsp;上に実現したチャチャコイン!
        </p>
        <p class="h5 container" style="max-width: 850px; word-break: break-all; background-color:transparent; text-align: left">
            豊富なアプリケーションでエンターテイメント領域でのイノベーションを目指して！！
        </p>
    </div>
</div>

